<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Runs</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{Runs.count}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Miles</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{Miles}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Easy Run</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{Esy_Run}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>